<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />

<body>

<div th:replace="common/navbar :: common-navbar" />


<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center"> Basic memeber</h2>
                <a class="btn btn-primary btn-lg btn-block"
                    th:href="@{/signup?planId=1}">
                    Signup</a>
            </div>
        </div>
    </div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: before-body-scripts"/>
</body>
</html>
