<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />

<body>

<div th:replace="common/navbar :: common-navbar" />


<div class="container">

    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <div class="well">

                <div class="text-center">

                    <h1 th:text="#{contact.h1}"></h1>

                    <form id="contactform"
                          th:action="@{/contact/}"
                          th:object="${feedback}"
                          method="post"
                          class="text-left">

                        <div class="form-group">
                            <label for="email" >Email </label>
                            <input type="email" id="email" th:field="*{email}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="firstN" >FirstName </label>
                            <input type="fname" id="fname" th:field="*{firstN}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="lastN" >LastName </label>
                            <input type="lname" id="lname" th:field="*{lastN}" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="feedb" >Feedback </label>
                            <textarea id="feedback" th:field="*{feedback}" class="form-control"/>
                        </div>


                        <div class="form-group">
                           <button type="submit" class="btn btn-primary" >Submit
                           </button>
                        </div>



                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: before-body-scripts"/>
</body>
</html>
